<h1>Your Posts</h1>
<table id="main" cellpadding="0" cellspacing="0">
  <tbody>
      <% count = 0 %>
      <% @posts.each do |p| %>
      <% count += 1 %>
      <tr>
      <td class="title"><span class="rank"> <%= count %>. </span><%= link_to p.title, p.link %><small class="link"> (<%= p.link %>) | <%= link_to 'view', p %></small></td>
      </tr>
      <tr>
      <td class="subtext user">by <%= p.user.email %></td>
      </tr>
      <% end %>

    </tr>
  </tbody>
</table>
